<div *ngIf="user" class="main-div">
  <div class="div-column">
    <h2>Change password</h2>
    <p>
      <mat-form-field appearance="fill" >
        <mat-label>Password: </mat-label>
        <input matInput [(ngModel)]="user.password" type="password" >
      </mat-form-field>
      <br>
    </p>
    <p>
      <button mat-stroked-button (click)="cancel()">
        Cancel
      </button>
      <button mat-stroked-button (click)="changePassword()">
        Submit
      </button>
    </p>
  </div>
  <div class="div-column">
  </div>
</div>

