<!DOCTYPE html>
<html lang="en">
<head>
  <title>403 Forbidden Page Error</title>
</head>
<body>
<div class="error-message">
  <h1><b>403</b> Forbidden Page Error</h1>
  <p>Oops! It seems you have stumbled upon a forbidden page. We apologize for any inconvenience this may have caused.</p>
  <p>The requested page you are trying to access is currently restricted or inaccessible. Our servers have identified that you lack the necessary authorization to view or interact with the content on this page.</p>
  <p>If you would like to sign in with a different account, click the button below:</p>
  <button class="sign-in-button" (click)="login()">Sign in with a different account</button>
</div>
</body>
</html>
