/* Overall container */
div {
    margin: 20px auto;
    padding: 20px;
    border:none;
    border-radius: 5px;
    width: 300px;
  }
  
  h2 {
    font-size: 28px; /* Increase font size */
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="role"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 20px; /* Increase font size */
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Increase font size */
    font-weight: bold;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  