<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %logger{36} | %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>src/main/resources/logs/application.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>src/main/resources/logs/application-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>20KB</maxFileSize>
      <maxHistory>10</maxHistory>
      <totalSizeCap>20MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %logger{36} | %msg%n</pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
  
  <logger name="com.example.security.controller" level="INFO" />
  <logger name="com.example.security.login.auth" level="INFO" />
  <logger name="com.example.security.service" level="INFO" />
  <logger name="com.example.security.email" level="INFO" />
</configuration>
