/* Structure */
.example-container {
  position: relative;

}

.container {
  background-color: #fff;
  padding-bottom: 2%;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  position: center;
  overflow: hidden;
  max-width: 100%;
  min-height: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-height: 98%;
  width: 65%;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;

}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

mat-form-field {
  padding-top: 5%;
  padding-left: 2%;
}

.dis {
  display: flex;
  flex-direction: row;
}
