<div class="dis">
  <div class="container">


    <table class="example-table">
      <thead>
      <tr>
        <th>Title</th>
        <th>Job description</th>
        <th>Start time</th>
        <th>End time</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let work of works">
        <td>{{ work.project.name }}</td>
        <td>{{ work.description }}</td>
        <td>{{ work.startTime }}</td>
        <td>{{ work.endTime }}</td>
        <td><button mat-stroked-button (click)="engineers(work.project.id)">
          Engineers
        </button></td>
      </tr>
      </tbody>
    </table>

  </div>
  <button mat-stroked-button (click)="back()">
    Back
  </button>
</div>

