<div class="form-container">
  <form (ngSubmit)="createCertificate()"  class="container-search">
<!--    <label>Common name:</label>-->
<!--    <input type="text" name="departurePlace" [(ngModel)]="certificate.commonName">-->

<!--    <label>Organization unit:</label>-->
<!--    <input type="text" name="arrivalPlace" [(ngModel)]="certificate.organizationUnit">-->

<!--    <label>Organization name:</label>-->
<!--    <input type="text" name="departureDate" [(ngModel)]="certificate.organizationName">-->

<!--    <label>Locality name:</label>-->
<!--    <input type="text" name="arrivalDate" [(ngModel)]="certificate.localityName">-->

<!--    <label>State name:</label>-->
<!--    <input type="text" name="numPassengers" [(ngModel)]="certificate.stateName">-->

<!--    <label>Country:</label>-->
<!--    <input type="text" name="numPassengers" [(ngModel)]="certificate.country">-->

    <button type="submit">Submit</button>

  </form>
</div>
